.playlist {
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5ff; 
    color: #333; 
    font-size: 24px; 
    cursor: pointer;
  }
  
  .playlist:hover {
    background-color: #e0e0ff; 
  }